print("This is the calculator to calculate two no to calculate add, subtraction, multiply, division.")
y = int(input("Enter no\n"))
x = int(input("Enter no\n"))
k = int(input(" 2 for add, 3 for divide, 4 for multiply, 5 for subtraction\n"))

if k == 2:
    print("Sum is ",y + x)
elif k == 3:
    print("quotient is",y / x)
elif k == 4:
    print("product is",y * x)
else:
    print("subtraction is",y - x)
